/*==================================================
RESET
==================================================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-size: $font-size-base;
  background: var(--dark);
  color: var(--text);
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

img:focus {
  outline: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: 0px;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

section {
  position: relative;
}

section#home {
  padding-top: 120px;
  padding-bottom: 80px;
}
