/*==================================================
HEADER
==================================================*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 26px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  height: 58px;
  width: auto;
}

@include respond(lg) {
  .header {
    padding: 20px 0;
  }

  .header .btn {
    display: none;
  }
}
